<!-- <br>
<div class="row">
    <div class="column">
       <img id="change1" src="../assets/img1.jpg"  (click) ="openText(this)" class="hover-shadow">
    </div>
    <div class="column">
        <img id="change2" src="../assets/img2.jpg" (click)="openText(this)" class="hover-shadow">
    </div>
    <div class="column">
        <img id="change3" src="../assets/img3.jpg" (click)="openText(this)" class="hover-shadow">
    </div>
    <div class="column">
        <img id="change4" src="../assets/img4.jpg" (click)="openText(this)" class="hover-shadow">
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="column">
        <img id="change" src="../assets/img1.jpg" (click)="openText()" class="hover-shadow">
    </div>
    <div class="column">
        <img id="change" src="../assets/img2.jpg" (click)="openText()" class="hover-shadow">
    </div>
    <div class="column">
        <img id="change" src="../assets/img3.jpg" (click)="openText()" class="hover-shadow">
    </div>
    <div class="column">
        <img id="change" src="../assets/img4.jpg" (click)="openText()" class="hover-shadow">
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="column">
        <img id="change" src="../assets/img1.jpg" (click)="openText()" class="hover-shadow">
    </div>
    <div class="column">
        <img id="change" src="../assets/img2.jpg" (click)="openText()" class="hover-shadow">
    </div>
    <div class="column">
        <img id="change" src="../assets/img3.jpg" (click)="openText()" class="hover-shadow">
    </div>
    <div class="column">
        <img id="change" src="../assets/img4.jpg" (click)="openText()" class="hover-shadow">
    </div>
</div>
<br>
<br> -->
<div class="row">
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="../assets/img1.jpg" alt="Avatar" class="image">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
</div>