<!-- <header class="topnav">
  <div class = "left"><a class="menu" routerLink="">
    <img src="../assets/images.jpe" style="max-width: 26%;">
  </a></div>
  <div class = "right">
    <a routerLink="login" class="button">Login</a>
    <a routerLink="registration" class="button">Register</a> -->

<!-- <button class="articleTitle"><a class="menu" routerLink="login">Login</a></button> -->
<!-- <button class= "button"><a class="menu" routerLink="registration">Register</a></button> -->
<!-- </div>
</header> -->

<header class="topnav">
  <div>
    <a class="menu">
      <img routerLink="" class="imageadjust" src="../assets/images.jpe">
      <a routerLink="login" class="button" style="float: right;">Login</a>
      <a routerLink="registration" class="button" style="float: right;">Register</a>
    </a>
    <!-- <p style="font-size: 10px; color: aliceblue">Welcome {{username}}</p> -->
  </div>
</header>